@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Commissioner", sans-serif;
    /* just a bit darker than cyan-400 to give us white outlines */
    accent-color: hsl(175.6, 51.4%, 42%);
  }
}

@layer components {
  .hero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%),
      url("/images/image-hero-mobile.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-desktop {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%),
      url("/images/image-hero-desktop.jpg");
  }

  .card {
    @apply md:px-12 py-8 px-6 border border-gray-150 rounded-lg bg-white;
  }

  .paragraph {
    @apply mt-6 leading-relaxed;
  }

  .button {
    @apply font-bold rounded-full bg-cyan-400 text-white disabled:bg-gray-400 hover:bg-cyan-500;
  }

  button .bookmark circle {
    @apply fill-[#2F2F2F];
  }
  button .bookmark path {
    @apply fill-[#B1B1B1];
  }
  button:hover .bookmark circle {
    @apply opacity-70;
  }

  button[data-checked="true"] span {
    @apply text-cyan-500;
  }
  button[data-checked="true"] .bookmark circle {
    @apply fill-cyan-500;
  }
  button[data-checked="true"] .bookmark path {
    @apply fill-white;
  }

  .overlay {
    background-color: hsl(0, 0%, 0%, 0.4);
  }

  .pledge-area {
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "radio title"
      "description description"
      "remaining remaining";
  }
  .pledge-area-empty {
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "radio title"
      "description description";
  }
  .pledge-area-md {
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "radio title remaining" "radio description description";
  }
  .pledge-area-empty-md {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "radio title title" "radio description description";
  }
  .a-radio {
    grid-area: radio;
  }
  .a-title {
    grid-area: title;
  }
  .a-remaining {
    grid-area: remaining;
  }
  .a-description {
    grid-area: description;
  }

  .no-scroll {
    @apply overflow-hidden;
  }
}
